
body > .container {
  width: auto;
  margin-left: 300px;
}
body > .container > .site-footer {
  width: 980px;
  margin: 40px auto 0;
}

#reposearch-container * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.wrapper {
  margin-left: 300px;
}

#reposearch-container {
  width: 300px;
  z-index: 3000;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
}

#reposearch-app {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}


#reposearch-main,
#reposearch-header,
#reposearch-footer {
  position: absolute;
  left: 0;
  right: 0;
}
#reposearch-header,
#reposearch-footer {
  height: 41px;
  min-width: 100%;
}
#reposearch-header {
  top: 0;
  border-right: 1px solid #E5E5E5;
}
#reposearch-footer {
  bottom: 0;
  border-right: 1px solid #EEEEEE;
}

#reposearch-main {
  top: 41px;
  bottom: 41px;
  border-right: 1px solid #EEEEEE;
}